/* Common styles for all pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding-left: 20px;
}

/* Navigation Menu Specific Styles */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

/* Add specific styles for each menu item */
nav a#home-link::before {
    content: "🏠 ";
    margin-right: 5px;
}

nav a#about-link::before {
    content: "👤 ";
    margin-right: 5px;
}

nav a#skills-link::before {
    content: "💼 ";
    margin-right: 5px;
}

nav a#portfolio-link::before {
    content: "📂 ";
    margin-right: 5px;
}

nav a#contact-link::before {
    content: "✉️ ";
    margin-right: 5px;
}

/* Update the Contact Page Specific Styles */
#contact {
    background-color: #f0f0f0;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-bottom: 5px;
    color: #333;
}

#contact input, #contact textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}
